@page "/list"
@using crud-perfume.Models
<h1>Perfumes</h1>

@if (perfumes == null)
{
    <p><em>Carregando...</em></p>
}
else
{
   <div class="row"> 
       <div class="col-md-12">
           <p><a class="btn btn-primary" href="add">Adicionar Perfume</a></p>
            <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var perfume in forecasts)
            {
                <tr>
                    <td>@perfume.Nome</td>
                    <td>@perfume.Volume</td>
                    <td><a href="/updatePerfume/@perfume.Id" class="btn btn-primary"></a>Editar</td>
                    <td><a  href="/deletePerfume/@perfume.Id" class="btn btn-danger"></a>Excluir</td>
 
                </tr>
            }
        </tbody>
    </table>
        </div>
    </div>
}

@code {
    private List<Mdoels.Perume> perfumes;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate a loading indicator
        await Task.Delay(500);
        perfumes = App.Database.GetTableRows<Perfume>("Perfume");
    }

    
}
